p{
    color: white;
}

/*utility classes*/
.img-responsiveness{
    max width: 100%
    ;
}

.hero_image {
    background-image: url(html\ css.jpg);
       -webkit-background-size : cover;
       background-size: cover;
        height: 100vh;
        position: relative;
}
.hero_sakshi{
    color: white;
    position:absolute;
    top:50%;
    left: 60%;
    transform: translate(-50%,-50%);
}
.hero_sakshi{
    font-size: 1rem;
    text-align: center;
}
.hero_sakshi span {
         
}
.form_code .post_code {
       display: block;
       width: 80%;
       margin-left: auto;
       margin-right: auto;
       border-radius: 2rem;
       padding: .4rem;
} 

.form_code button {
          margin-left: auto;
          margin-right: auto;
          background-color:azure;
          width: 30% ;       
}


      /* product section*/
        

    .product {
        width: 80%;
        margin-left: auto;
        margin-right: auto;
    }

    .product_list_item {
float: left;
width: 33.33%;
    }

    @media screen and ( max-width: 700px) {
        .product_list_item{
            width: 100%;
            float: none ;
        }
        
    }